<div ng-controller="eventCtrl as eventCtrl">
    <div id="header">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                                 <section class="intro-text">
            <div class="container ">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center">
                        <h2 class="wow animated fadeInDown"><img src="src/assets/img/beer.png" alt="VACAS"></span></h2>
                        <p class="lead animated fadeIn">
                           Encuentra los mejores eventos para disfrutar en tu estadía!
                        </p>              
                        <!-- Buscar --->
                         <form name="busquedaForm" role="form">
                                                <h3>Buscar: </h3> <br><h5>Nombre:</h5><input id="nombreBusqueda" type="text" class="form-control" placeholder="aqui va el nombre del evento">
                        <h5>Edad Minima:</h5><input id="minEBusqueda" type="text" class="form-control" placeholder="aqui va la edad minima">
                        <h5>Edad Maxima:</h5><input id="maxEBusqueda" type="text" class="form-control" placeholder="aqui va la edad maxima">
                          <!-- Remplazar el # por donde quieran que sea el boton -->
                        <a href="#" class="btn btn-lg btn-theme-bg">Buscar!</a>
                         </form>
                    </div>
                </div>
            </div>
        </section>
                <!-- Navegacion en modulos -->
                <div class="collapse navbar-collapse" id="country-navbar"><br>
                    <center><button class="btn btn-lg btn-theme" ng-hide="eventCtrl.editMode" ng-click="eventCtrl.createRecord()"><i class="fa fa-plus-circle"></i> Crear</button>
                    <button class="btn btn-lg btn-theme" ng-show="eventCtrl.editMode" ng-click="eventCtrl.saveRecord()"><i class="fa fa-floppy-o"></i> Guardar</button>
                    <button class="btn btn-lg btn-theme" ng-show="eventCtrl.editMode" ng-click="eventCtrl.fetchRecords()"><i class="fa fa-exclamation-circle"></i> Cancelar</button></center>
                </div>
            </div>
        </nav>
    </div>
    <!--Elementos-->
    <div ng-hide="eventCtrl.editMode">
        <div ng-repeat="record in records">
            <div class="col-md-3 margin20">
                    <div class="team-wrap">
                        <img src="{{record.img}}" class="img-responsive" alt="">
                        <h4>{{record.name}}</h4>
                        <span>Rango de edad (min-max): {{record.minAge}} - {{record.maxAge}}</span>
                        <p>  Reglas:  {{record.rules}}
                        </p><br>
                        <button class="btn btn-lg btn-theme" ng-click=""><i class="fa fa-calendar-o"></i> Agregar a intinerario</button>
                        
                    </div>
                </div>                                  
        </div>
    </div><!--Termina elementos-->
    <div ng-show="eventCtrl.editMode">
        <form name="countryForm" role="form">
            <input id="name" class="form-control" type="hidden" ng-model="currentRecord.id"/>
            <div class="form-group">
                <label for="name">Nombre</label>
                <input id="name" class="form-control" type="text" ng-model="currentRecord.name"/>
            </div>
            <div class="form-group">
                <label for="minAge">Edad minima</label>
                <input id="minAge" class="form-control" type="number" ng-model="currentRecord.minAge"/>
            </div>
            <div class="form-group">
                <label for="maxAge">Edad maxima</label>
                <input id="maxAge" class="form-control" type="number" ng-model="currentRecord.maxAge"/>
            </div>
            <div class="form-group">
                <label for="rules">Reglas</label>
                <input id="rules" class="form-control" type="text" ng-model="currentRecord.rules"/>
            </div>
           <div class="form-group">
                <label for="img">Imagen</label>
                <input id="img" class="form-control" type="text" ng-model="currentRecord.img"/>
            </div>
        </form>
    </div>
</div>
