<div ng-controller="BuscadorCtrl as BuscadorCtrl">
    <div id="header">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <section class="intro-text">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 text-center">
                                <h2 class="wow animated fadeInDown"><img src="src/assets/img/Buscador.png" alt="VACAS"></h2>
                                <p class="lead animated fadeIn">
                                   Busca por lo que te intererse!                               
                          <form name="busquedaForm" role="form">
                                                   <!-- Buscar --->
                          <!-- Remplazar el # por donde quieran que sea el boton -->
                          </form>
                        <a href="#" class="btn btn-lg btn-theme-bg">Ciudad!</a>
                          <form name="busquedaForm" role="form">
                                                   <!-- Buscar --->
                          <!-- Remplazar el # por donde quieran que sea el boton -->
                          </form>
                        <a href="#" class="btn btn-lg btn-theme-bg">Evento!</a>
                          <form name="busquedaForm" role="form">
                         </form>
                                
                            </div>
                        </div>
                    </div>
                </section>
<!--                 Navegacion en modulos 
                <div class="collapse navbar-collapse" id="country-navbar"><br>
                    <center><button class="btn btn-lg btn-theme" ng-hide="BuscadorCtrl.editMode" ng-click="BuscadorCtrl.createRecord()"><i class="fa fa-plus-circle"></i> Crear</button>
                        <button class="btn btn-lg btn-theme" ng-show="BuscadorCtrl.editMode" ng-click="BuscadorCtrl.saveRecord()"><i class="fa fa-floppy-o"></i> Guardar</button>
                        <button class="btn btn-lg btn-theme" ng-show="BuscadorCtrl.editMode" ng-click="BuscadorCtrl.fetchRecords()"><i class="fa fa-exclamation-circle"></i> Cancelar</button></center>
                </div>
            </div>
        </nav>
    </div>
    Elementos
    <div ng-hide="BuscadorCtrl.editMode">
        <div ng-repeat="record in records">
            <div class="col-md-3 margin20">
                <div class="team-wrap">
                    <img src="{{record.img}}" class="img-responsive" alt="">
                    <h4>Nombre: {{record.nombe}}  Apellidos: {{record.apellido}}</h4>
                    <span>Pasaporte: {{record.pasaporte}}</span>  
                    <p>  Edad:  {{record.edad}}
                    </p>
                </div>
            </div>                                  
        </div>
    </div>Termina elementos
    <div ng-show="BuscadorCtrl.editMode">
        <form name="countryForm" role="form">
            <input id="name" class="form-control" type="hidden" ng-model="currentRecord.id" required/>
            <div class="form-group">
                <label for="pasaporte">Pasaporte</label>
                <input id="pasaporte" class="form-control" type="text" ng-model="currentRecord.pasaporte" required/>
            </div>
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input id="nombre" class="form-control" type="text" ng-model="currentRecord.nombre" required/>
            </div>
            <div class="form-group">
                <label for="apellido">Apellidos</label>
                <input id="apellido" class="form-control" type="text" ng-model="currentRecord.apellido" required/>
            </div>
            <div class="form-group">
                <label for="edad">Edad</label>
                <input id="edad" class="form-control" type="number" ng-model="currentRecord.edad" required/>
            </div>
            <div class="form-group">
                <label for="img">Imagen</label>
                <input id="img" class="form-control" type="text" ng-model="currentRecord.img"/>
            </div>
        </form>-->
    </div>
</div></div>
