<div ng-controller="cityCtrl as cityCtrl">
    <div id="header">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                 <section class="intro-text">
            <div class="container ">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center">
                        <h2 class="wow animated fadeInDown"><img src="src/assets/img/ciudad.png" alt="VACAS"></h2>
                        <p class="lead animated fadeIn">
                            Todavía no tienes un destino? Llegaste al lugar indicado, aquí encontraras diferentes ciudades y sin importar cual escojas sera un excelente destino!
                        </p>
                        <!-- Buscar --->
                         <form name="busquedaForm" role="form">
                        <h3>Buscar: </h3> <div class="input-group">
                                <input id="nomBusqueda" type="text" class="form-control" placeholder="nombre de la ciudad">
                                <span class="input-group-btn">
                                     <!-- Boton Buscar (remplazar # por lo que quieren) --->
                                     <a href=""><button class="btn btn-lg btn-theme-bg" type="button">Go!</button></a>
                                </span>
                                
                         </form>
                            </div>
                    </div>
                </div>
            </div>
        </section>
  <!-- Navegacion en modulos -->
                <div class="collapse navbar-collapse" id="country-navbar"><br>
                    <center><button class="btn btn-lg btn-theme" ng-hide="cityCtrl.editMode" ng-click="cityCtrl.createRecord()"><i class="fa fa-plus-circle"></i> Crear</button>
                    <button class="btn btn-lg btn-theme" ng-show="cityCtrl.editMode" ng-click="cityCtrl.saveRecord()"><i class="fa fa-floppy-o"></i> Guardar</button>
                    <button class="btn btn-lg btn-theme" ng-show="cityCtrl.editMode" ng-click="cityCtrl.fetchRecords()"><i class="fa fa-exclamation-circle"></i> Cancelar</button></center>
                </div>
            </div>
        </nav>
    </div>
    <!--Elementos-->
    <div ng-show="cityCtrl.darRecords" and ng-hide="cityCtrl.editMode" and ng-hide="cityCtrl.darOpinion">
        <div ng-repeat="record in records">
            <div class="col-md-3 margin20">
                    <div class="team-wrap">
                         <img src="{{record.img}}" class="img-responsive" alt="">
                        <h4>{{record.name}}</h4>
                        <span><a href="{{record.link}}">Link</a></span>
                        <p>  Descripcion:  {{record.desc}}
                        </p><br>
                        <button class="btn btn-lg btn-theme" ng-click=""><i class="fa fa-calendar-o"></i> Agregar a intinerario</button>
                        <button ng-click="cityCtrl.darOpinion(record)" class="btn btn-lg btn-theme"><i class="fa fa-thumbs-o-up"></i>Opina!</button>
                    </div>
                </div>                                  
        </div>
    </div><!--Termina elementos-->
    <div ng-show="cityCtrl.editMode" and ng-hide="cityCtrl.darOpinion" and ng-hide="cityCtrl.darRecords">
        <form name="countryForm" role="form">
            <div class="form-group">
                <label for="name">Nombre</label>
                <input id="name" class="form-control" type="text" ng-model="currentRecord.name" required/>
            </div>
            <div class="form-group">
                <label for="desc">Descripcion</label>
                <input id="desc" class="form-control" type="number" ng-model="currentRecord.desc"/>
            </div>
            <div class="form-group">
                <label for="link">Link</label>
                <input id="link" class="form-control" type="number" ng-model="currentRecord.link"/>
            </div>
           <div class="form-group">
                <label for="img">Imagen</label>
                <input id="img" class="form-control" type="text" ng-model="currentRecord.img"/>
            </div>
            <input id="name" class="form-control" type="hidden" ng-model="currentRecord.estrellas"/>
            <input id="name" class="form-control" type="hidden" ng-model="currentRecord.opinion"/>
        </form>
    </div>
    <div ng-show="cityCtrl.darOpini">
            <h1>Danos tu opinion sobre {{record.name}}:</h1>
            <form name="conutryForm" role="form" class="form-group" ng-model="currentRecord.estrellas">
                <h3>De 1 a 5 califica esta ciudad</h3>
              <select id="estrellas" class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
                <h3>Sugerencias? Quedaste disconforme con algo o fue el mejor paseo de tu vida? escribelo aqui!</h3>
                <div class="col-sm-10">
                     <input id="opinion" class="form-control" type="text" id="formGroupInputLarge" placeholder="Tu opinion aqui" ng-model="currentRecord.opinion">
                </div>
                     <button class="btn btn-lg btn-theme" ng-show="cityCtrl.darOpinion" ng-click="cityCtrl.saveRecord()"><i class="fa fa-floppy-o"></i> Guardar</button>
                    <button class="btn btn-lg btn-theme" ng-show="cityCtrl.darOpinion" ng-click="cityCtrl.fetchRecords()"><i class="fa fa-exclamation-circle"></i> Cancelar</button>
            </form>
    </div>
    </div>