<div ng-controller="transportationCtrl as transportationCtrl">
	<div id="header">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
                          <section class="intro-text">
            <div class="container ">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center">
                        <h2 class="wow animated fadeInDown"><img src="src/assets/img/airplane.png" alt="VACAS"></span></h2>
                        <p class="lead animated fadeIn">
                           Los viajes en los mejores horario y con los mejores precios estan acá!
                           <form name="busquedaForm" role="form">
                                                   <!-- Buscar --->
                                                <h3>Buscar: </h3> <br><h5>Tipo de transporte:</h5><div class="form-group">
				<input type=text list=transportation ng-model="currentRecord.transport" required>
                                <datalist id=transportation >
                                    <option> Bus
                                    <option> Carro Particular
                                    <option> Taxi
                                    <option> Barco
                                    <option> Tren
                                    <option> Avion
                                </datalist>
                                <h5>Ciudad Origen:</h5><input id="oriEBusqueda" type="text" class="form-control" placeholder="aqui va la ciudad de origen">
                                <h5>Ciudad Destino:</h5><input id="desEBusqueda" type="text" class="form-control" placeholder="aqui va la ciudad de destino">
                                 </div>
                          <!-- Remplazar el # por donde quieran que sea el boton -->
                        <a href="#" class="btn btn-lg btn-theme-bg">Buscar!</a>
                         </form>
                    </div>
                </div>
            </div>
        </section>
				 <!-- Navegacion en modulos -->
                <div class="collapse navbar-collapse" id="country-navbar"><br>
                    <center><button id="createBtn" class="btn btn-lg btn-theme" ng-hide="transportationCtrl.editMode" ng-click="transportationCtrl.createRecord()"><i class="fa fa-plus-circle"></i> Crear</button>
                    <button id="saveBtn" class="btn btn-lg btn-theme" ng-show="transportationCtrl.editMode" ng-click="transportationCtrl.saveRecord()"><i class="fa fa-floppy-o"></i> Guardar</button>
                    <button id="cancelBtn" class="btn btn-lg btn-theme" ng-show="transportationCtrl.editMode" ng-click="transportationCtrl.fetchRecords()"><i class="fa fa-exclamation-circle"></i> Cancelar</button></center>
                </div>
            </div>
        </nav>
    </div>
    <!--Elementos-->
    <div ng-hide="transportationCtrl.editMode">
        <div ng-repeat="record in records">
            <div class="col-md-3 margin20">
                    <div class="team-wrap">
                        <img src="{{record.img}}" class="img-responsive" alt="">
                        <h4>Origen: {{record.origin}}  Destino: {{record.destiny}}</h4>
                        <span>Medio de transporte: {{record.transport}}</span><br>
                        <button class="btn btn-lg btn-theme" ng-click="AGREGAR A ITINERARIO"><i class="fa fa-calendar-o"></i> Agregar a intinerario</button>                     
                    </div>
                </div>                                  
        </div>
    </div><!--Termina elementos-->
	<div ng-show="transportationCtrl.editMode">
		<form name="countryForm" role="form">
			<input id="name" class="form-control" type="hidden" ng-model="currentRecord.id"/>
			<div class="form-group">
				<label for="origin">Ciudad de Origen</label>
				<input type=text list=origin ng-model="currentRecord.origin" required>
                                <datalist id=origin >
                                    <option> Nueva York
                                    <option> Bogotá
                                    <option> Madrid
                                    <option> Beijin
                                    <option> Rio de Janeiro
                                    <option> Taipei
                                </datalist>
                        </div>
			<div class="form-group">
				<label for="destiny">Ciudad Destino</label>
				<input type=text list=destiny ng-model="currentRecord.destiny" required/>
                                <datalist id=destiny >
                                    <option> Nueva York
                                    <option> Bogotá
                                    <option> Madrid
                                    <option> Beijin
                                    <option> Rio de Janeiro
                                    <option> Taipei
                                </datalist>
                        </div>
                        <div class="form-group">
				<label for="transport">Medio de Transporte  </label>
				<input type=text list=transportation ng-model="currentRecord.transport" required>
                                <datalist id=transportation >
                                    <option> Bus
                                    <option> Carro Particular
                                    <option> Taxi
                                    <option> Barco
                                    <option> Tren
                                    <option> Avion
                                </datalist>
                        </div>
                                   <div class="form-group">
                <label for="img">Imagen</label>
                <input id="img" class="form-control" type="text" ng-model="currentRecord.img"/>
            </div>
		</form>
	</div>
</div>
