    <style type="text/css">
        #map{
            width: 750px;
            height: 450px;
            position: relative;            
            margin-top: 10px;
            margin: 0 auto;
            margin-bottom: 10px;
        }
    </style>
<div ng-controller="mapCtrl as mapCtrl">
    <div id="header">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->

                <section class="intro-text">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 text-center">
                                <h2 class="wow animated fadeInDown"><img src="src/assets/img/map.png" alt="VACAS"></h2>
                                <p class="lead animated fadeIn">
                                    Navega a traves de los lugares más interesantes de Colombia y el mundo!
                                </p>
                            </div>
                        </div>
                    </div>
                </section>            			 <!-- Navegacion en modulos -->
            </div>
        </nav>
    </div>
    <!--Elementos-->
    <div ng-hide="mapCtrl.editMode">
        <div ng-repeat="record in records">
            <div class="col-md-3 margin20">
                <div class="team-wrap">
                    <img src="{{record.img}}" class="img-responsive" alt="">
                    <h4>Nombre: {{record.nombe}}  Apellidos: {{record.apellido}}</h4>
                    <span>Pasaporte: {{record.pasaporte}}</span>  
                    <p>  Edad:  {{record.edad}}
                    </p>
                </div>
            </div>                                  
        </div>
    </div><!--Termina elementos-->
    <script src="http://maps.google.com/maps/api/js?sensor=false&callback=iniciar"></script>
    <div id="map">
        <script>
                                function iniciar() {
                                var mapOptions = {
                                center: new google.maps.LatLng(4.60, - 74.08),
                                        zoom: 10,
                                        mapTypeId: google.maps.MapTypeId.ROADMAP};
                                        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
                                        //marcador con la ubicación de la Universidad
                                        var place = new google.maps.LatLng(4.601602, - 74.065296);
                                        var marker = new google.maps.Marker({
                                        position: place
                                                , title: 'La universidad de los Andes'
                                                , map: map
                                                , });
                                        var popup = new google.maps.InfoWindow({
                                        content: '¡Esta es la Universidad de los Andes!'});
                                        popup.open(map, marker);
                                        //globo de informacion al dar un clic en el marcador
                                                function showInfo() {
                                                map.setZoom(16); //aumenta el zoom
                                                        map.setCenter(marker.getPosition());
                                                        var contentString = 'Ubicación Actual';
                                                        var infowindow = new google.maps.InfoWindow({
                                                        content: 'Aqui es donde estudio, lee mas información en:<a href = "http://www.uniandes.edu.co"> Uniandes</a>'});
                                                        infowindow.open(map, marker);
                                                }
                                        //Dispara accion al dar un clic en el marcador          
                                        google.maps.event.addListener(marker, 'click', showInfo);
                                        }
        </script>
    </div>
                <pagination total-items="totalItems" ng-model="currentPage" ng-change="mapCtrl.pageChanged()" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" items-per-page="itemsPerPage"></pagination>
</div>
