<div ng-controller="cityCtrl as cityCtrl">
    <div id="header">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                 <section class="intro-text">
            <div class="container ">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center">
                        <h2 class="wow animated fadeInDown"><img src="src/assets/img/ciudad.png" alt="VACAS"></h2>
                        <p class="lead animated fadeIn">
                            Todavía no tienes un destino? Llegaste al lugar indicado, aquí encontraras diferentes ciudades y sin importar cual escojas sera un excelente destino!
                        </p>
                        
                        <!-- Buscar --->
                         <form name="busquedaForm" role="form">
                        <h3>Buscar: </h3> <div class="input-group">
                                <input id="nomBusqueda" type="text" class="form-control" placeholder="nombre de la ciudad">
                                <span class="input-group-btn">
                                     <!-- Boton Buscar (remplazar # por lo que quieren) --->
                                     <a href=""><button class="btn btn-lg btn-theme-bg" type="button">Go!</button></a>
                                </span>
                                
                         </form>
                            </div>
                    </div>
                </div>
            </div>
        </section>
  <!-- Navegacion en modulos -->
                <div class="collapse navbar-collapse" id="country-navbar"><br>
                    <center><button class="btn btn-lg btn-theme" ng-hide="cityCtrl.editMode" ng-click="cityCtrl.createRecord()"><i class="fa fa-plus-circle"></i> Crear</button>
                    <button class="btn btn-lg btn-theme" ng-show="cityCtrl.editMode" ng-click="cityCtrl.saveRecord()"><i class="fa fa-floppy-o"></i> Guardar</button>
                    <button class="btn btn-lg btn-theme" ng-show="cityCtrl.editMode" ng-click="cityCtrl.fetchRecords()"><i class="fa fa-exclamation-circle"></i> Cancelar</button></center>
                </div>
            </div>
        </nav>
    </div>
    <!--Elementos-->
    <div ng-hide="cityCtrl.editMode">
        <div ng-repeat="record in records">
            <div class="col-md-3 margin20">
                    <div class="team-wrap">
                         <img src="{{record.img}}" class="img-responsive" alt="">
                        <h4>{{record.name}}</h4>
                        <span><a href="{{record.link}}">Link</a></span>
                        <p>  Descripcion:  {{record.desc}}
                        </p><br>
                        <button class="btn btn-lg btn-theme" ng-click="AGREGAR A ITINERARIO"><i class="fa fa-calendar-o"></i> Agregar a intinerario</button>
                        
                    </div>
                </div>                                  
        </div>
    </div><!--Termina elementos-->
    <div ng-show="cityCtrl.editMode">
        <form name="countryForm" role="form">
            <div class="form-group">
                <label for="name">Nombre</label>
                <input id="name" class="form-control" type="text" ng-model="currentRecord.name" required/>
            </div>
            <div class="form-group">
                <label for="desc">Descripcion</label>
                <input id="desc" class="form-control" type="number" ng-model="currentRecord.desc"/>
            </div>
            <div class="form-group">
                <label for="link">Link</label>
                <input id="link" class="form-control" type="number" ng-model="currentRecord.link"/>
            </div>
           <div class="form-group">
                <label for="img">Imagen</label>
                <input id="img" class="form-control" type="text" ng-model="currentRecord.img"/>
            </div>
        </form>
    </div>
    </div>
