<div ng-controller="itineraryCtrl as itineraryCtrl">
    <div id="header">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">

                <section class="intro-text">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 text-center">
                                <h2 class="wow animated fadeInDown"><img src="src/assets/img/calendar.png" alt="VACAS"></span></h2>
                                <p class="lead animated fadeIn">
                                    Organiza tu viaje, no esperes para probar nuestra funcionalidad estrella!
                                </p>
                                 <form name="busquedaForm" role="form">
                                                   <!-- Buscar --->
                                                <h3>Asistiras: </h3> <br><h5>Lugares</h5><div class="form-group">
				<input type=text list=Citys ng-model="" required>
                                <datalist id=Citys >
                                    <option> ***
                                     <option> **ol*
                                </datalist>
                                 </div>
                         </form>
                                 <form name="busquedaForm" role="form">
                                                   <!-- Buscar --->
                                                <h3> </h3> <br><h5>Eventos</h5><div class="form-group">
				<input type=text list=Events ng-model="" required>
                                <datalist id=Events >
                                    <option> .....
                                </datalist>
                                 </div>
                         </form>
                            </div>
                        </div>
                    </div>
                </section>
    </div>
</div>
    </div>
