<div ng-controller="transportationCtrl as transportationCtrl">
	<div id="header">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
                            
                                                                                        <section class="intro-text">
            <div class="container ">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center">
                        <h2 class="wow animated fadeInDown"><img src="src/assets/img/airplane.png" alt="VACAS"></span></h2>
                        <p class="lead animated fadeIn">
                           Los viajes en los mejores horario y con los mejores precios estan acá!
                           <form name="busquedaForm" role="form">
                                                   <!-- Buscar --->
                                                <h3>Buscar: </h3> <br><h5>Tipo de transporte:</h5><div class="form-group">
				<input type=text list=transportation ng-model="currentRecord.transport" required>
                                <datalist id=transportation >
                                    <option> Bus
                                    <option> Carro Particular
                                    <option> Taxi
                                    <option> Barco
                                    <option> Tren
                                    <option> Avion
                                </datalist>
                                <h5>Ciudad Origen:</h5><input id="oriEBusqueda" type="text" class="form-control" placeholder="aqui va la ciudad de origen">
                                <h5>Ciudad Destino:</h5><input id="desEBusqueda" type="text" class="form-control" placeholder="aqui va la ciudad de destino">
                                 </div>
                      
                          <!-- Remplazar el # por donde quieran que sea el boton -->
                        <a href="#" class="btn btn-lg btn-theme-bg">Buscar!</a>
                         </form>
                    </div>
                </div>
            </div>
        </section>
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#country-navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Transporte</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="country-navbar">
					<button class="btn btn-default navbar-btn" ng-hide="transportationCtrl.editMode" ng-click="transportationCtrl.createRecord()"><span class="glyphicon glyphicon-plus"></span> Crear</button>
					<button class="btn btn-default navbar-btn" ng-hide="transportationCtrl.editMode" ng-click="transportationCtrl.fetchRecords()"><span class="glyphicon glyphicon-refresh"></span> Actualizar</button>
					<button class="btn btn-default navbar-btn" ng-show="transportationCtrl.editMode" ng-click="transportationCtrl.saveRecord()"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
					<button class="btn btn-default navbar-btn" ng-show="transportationCtrl.editMode" ng-click="transportationCtrl.fetchRecords()"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
				</div>
			</div>
		</nav>
	</div>
	<div ng-hide="transportationCtrl.editMode">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Ciudad Origen</th>
                                        <th>Ciudad Destino</th> 
                                        <th>Distancia (KM)</th>
                                        <th>Medio de Transporte</th>
                                        <th>Opciones</th>
                                 
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="record in records">
					<td>{{record.origin}}</td>
					<td>{{record.destiny}}</td>
                                        <td>{{'se lo damos'}}</td>
                                        <td>{{record.transport}}</td>
					<td>
						<button class="btn btn-default btn-sm" ng-click="transportationCtrl.editRecord(record)"><span class="glyphicon glyphicon-edit"></span> Edit</button>
						<button class="btn btn-default btn-sm" ng-click="transportationCtrl.deleteRecord(record)"><span class="glyphicon glyphicon-minus"></span> Delete</button>
					   
                                        </td>
				</tr>
			</tbody>
		</table>
	</div>
	<div ng-show="transportationCtrl.editMode">
		<form name="countryForm" role="form">
			<input id="name" class="form-control" type="hidden" ng-model="currentRecord.id"/>
			<div class="form-group">
				<label for="origin">Ciudad de Origen</label>
				<input type=text list=origin ng-model="currentRecord.origin" required>
                                <datalist id=origin >
                                    <option> Nueva York
                                    <option> Bogotá
                                    <option> Madrid
                                    <option> Beijin
                                    <option> Rio de Janeiro
                                    <option> Taipei
                                </datalist>
                        </div>
			<div class="form-group">
				<label for="destiny">Ciudad Destino</label>
				<input type=text list=destiny ng-model="currentRecord.destiny" required/>
                                <datalist id=destiny >
                                    <option> Nueva York
                                    <option> Bogotá
                                    <option> Madrid
                                    <option> Beijin
                                    <option> Rio de Janeiro
                                    <option> Taipei
                                </datalist>
                        </div>
                        <div class="form-group">
				<label for="transport">Medio de Transporte  </label>
				<input type=text list=transportation ng-model="currentRecord.transport" required>
                                <datalist id=transportation >
                                    <option> Bus
                                    <option> Carro Particular
                                    <option> Taxi
                                    <option> Barco
                                    <option> Tren
                                    <option> Avion
                                </datalist>
                        </div>
		</form>
	</div>
    
    
</div>
